<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/styles.css">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/components/grid.min.css" integrity="sha512-xQhC+GVyYe3VS4JxClQ/2QqNhZRIbmdpDaSzeqkbJUJfEvp7tInw/wgrO7gUbsNx61fzeMvVDAf0ZLccjoxR5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/components/card.min.css" integrity="sha512-Wq8lvRtcEe0aqZ9+5Um9PBtw/sQGMZrzz/OXglaabTOELxzIqhyCwsKT9P8/Bfg9R0rgIianvU8XHsV6EfOX+A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="icon" href="/img/favicon.ico">

        <title>A&M - Certificates</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">A&M</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/home" class="nav__link ">Home</a></li>
                        <li class="nav__item"><a href="/education" class="nav__link">Education</a></li>
                        <li class="nav__item"><a href="/certificates" class="nav__link active">Certificates</a></li>
                        <li class="nav__item"><a href="/project" class="nav__link">Projects</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
             <section class="home-educ bd-grid-education" id="home">
           <h6 style="font-size: 2rem; margin-bottom: 0;"><span class="home__title-color">Coding courses</span><br></h6>


 <div class="ui cards" >
  <div class="card">
    <div class="image">
        <img src="/img/flutter.png">
      </div>
      <div class="content">
        <div class="header">Flutter Bootcamp</div>
        <div class="meta" style="padding-top: 10px;">August, 2021</div>
      </div>
  </div>
  <div class="card">
    <div class="image">
        <img src="/img/web.png">
      </div>
      <div class="content">
        <div class="header">Web development</div>
        <div class="meta" style="padding-top: 10px;">May, 2020</div>
      </div>
  </div>

</div>
  

           

             <h6 style="font-size: 2rem; margin: 0;"><span class="home__title-color">Volunteering</span><br></h6>

              <div class="ui cards" style="padding-bottom: 5%; padding-top: 0;">
  <div class="card">
    <div class="image">
        <img src="/img/volunteering.png">
      </div>
      <div class="content">
        <div class="header">AB Volunteers</div>
        <div class="meta" style="padding-top: 10px;">Leading courses of coding</div>
      </div>
  </div>

</div>

        </section>
        </main>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="/js/main.js"></script>
    </body>
</html>