<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/styles.css">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/card.min.css" integrity="sha512-u5E5vOHVsB0blcZniDNfaRkTfqdgjxIgLX17YlG0vjQyos7Z7b1BXLuhHZbF2JOVRrfNNd8P6v7fw87JaFw/Rg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

      
<link rel="icon" href="/img/favicon.ico">
      

        <title>A&M - Education</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">A&M</a>
                </div>

               <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/home" class="nav__link ">Home</a></li>
                        <li class="nav__item"><a href="/education" class="nav__link active">Education</a></li>
                        <li class="nav__item"><a href="/certificates" class="nav__link ">Certificates</a></li>
                        <li class="nav__item"><a href="/project" class="nav__link">Projects</a></li>
                    </ul>
                </div>


                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
             <section class="home-educ bd-grid-education" id="home">
           <h6 style="font-size: 2rem; margin-bottom: 0;"><span class="home__title-color">Education history</span><br></h6>




  <div class="ui cards" style="padding-top: 0;">
  <div class="card">
    <div class="content">
      <div class="header">School-lyceum №9 named after O. Zholdasbekov</div>
      <div class="meta" style="padding-top: 10px;">2010-2014</div>
      <div class="description">
       Primary school
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Mohammad Haidar Dulati specialized trilingual gymnasium №8</div>
      <div class="meta" style="padding-top: 10px;">2015-2016</div>
      <div class="description">
        Middle school
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Nazarbayev Intellectual school of Chemistry and Biology in Shymkent</div>
      <div class="meta" style="padding-top: 10px;">2017-current</div>
      <div class="description">
        High school
      </div>
    </div>
  </div>

</div>

           

             <h6 style="font-size: 2rem; margin: 0;"><span class="home__title-color">Olympiads</span><br></h6>

              <div class="ui cards"  style="padding-bottom: 5%; padding-top: 0;">
  <div class="card">
    <div class="image">
        <img src="/img/award1.jpg">
      </div>
      <div class="content">
        <div class="header">Computer science</div>
        <div class="meta" style="padding-top: 10px;">2021</div>
        <div class="description">
        I place
      </div>
      </div>
  </div>
  <div class="card">
    <div class="image">
        <img src="/img/award2.jpg">
      </div>
      <div class="content">
        <div class="header">English language</div>
        <div class="meta" style="padding-top: 10px;">2020</div>
        <div class="description">
        III place
      </div>
      </div>
  </div>

</div>

        </section>
        </main>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="/js/main.js"></script>
    </body>
</html>