<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/styles.css">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>A&M - Home</title>

        <link rel="icon" href="/img/favicon.ico">
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">A&M</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/home" class="nav__link active">Home</a></li>
                      <!--   <li class="nav__item"><a href="/education" class="nav__link">Education</a></li>
                        <li class="nav__item"><a href="/certificates" class="nav__link">Certificates</a></li> -->
                        <li class="nav__item"><a href="/project" class="nav__link">Projects</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I am <span class="home__title-color">Arthur!</span><br> World explorer</h1>

                    <a href="mailto:arthur.muratovich@gmail.com?subject = Feedback&body = Message" class="button">Email me!</a>
                </div>

                <div class="home__social">
                    <a href="https://t.me/arthur_muratov" target="_blank" class="home__social-icon"><i class='bx bxl-telegram'></i></a>
                    <a href="https://www.instagram.com/arthur.muratov/" target="_blank" class="home__social-icon"><i class='bx bxl-instagram-alt' ></i></a>
                 <!--    <a href="https://github.com/MuratovArthur" target="_blank" class="home__social-icon"><i class='bx bxl-github' ></i></a> -->
                    <a href="https://wa.me/+77005670123" target="_blank" class="home__social-icon"><i class='bx bxl-whatsapp' ></i></a>
                   
                </div>

                <div class="home__img">    
                    <img src="/img/perfil.png" alt="">
                </div>
            </section>

           
        </main>

     

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="/js/main.js"></script>
    </body>
</html>