<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/styles.css">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>A&M - Projects</title>

        <link rel="icon" href="/img/favicon.ico">
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">A&M</a>
                </div>
<div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/home" class="nav__link ">Home</a></li>
                       <!--  <li class="nav__item"><a href="/education" class="nav__link ">Education</a></li>
                        <li class="nav__item"><a href="/certificates" class="nav__link ">Certificates</a></li> -->
                        <li class="nav__item"><a href="/project" class="nav__link active">Projects</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data" >
                    <h1 class="home__title">Here is<br>my last project<br> <span class="home__title-color">SAT app!</span></h1>

                    <a href="https://play.google.com/store/apps/details?id=sat.preparation.app.com" class="button">See on Google Play!</a>
                </div>

                <div class="app__img">    
                    <img src="/img/app.png" alt="">
                </div>
            </section>

           
        </main>

      


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="/js/main.js"></script>
    </body>
</html>